.Footer-container{
  position: relative;
}

.Footer-container>hr{
  border: 1px solid var(--lightgray);
}

.footer{
  padding: 1rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  align-items: center;
  justify-content: center;
  height: 20rem;
}
.social-links{
  display: flex;
  gap: 4rem;
}
.social-links>a>img{
  width: 2rem;
  height: 2rem;
  cursor: pointer;
}

.logo-f>img{
  width: 10rem;
}

/* Desenfocar Footer*/

.footer-blur-f-1{
  bottom: 0;
  right: 15%;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background: red;
}

.footer-blur-f-2{
  bottom: 0;
  left: 15%;
  width: 26rem;
  height: 12rem;
  filter: blur(200px);
  background: rgb(225, 115, 0);
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: var(--lightgray);
  margin-top: 5px;
  font-size: medium;
  font-family:'Times New Roman', Times, serif;
}

.center-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 1rem; /* Ajusta el margen superior según sea necesario */
}
